input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
    }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        table {
            margin: 0 auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        input, select, .dev-box {
            width: 70px;
            padding: 5px;
            border: 1px solid black;
            text-align: center;
            display: inline-block;
            min-height: 20px;
            line-height: 20px;
            font-size: 16px;
        }
        input {
            width: 70px;
            margin: 10px;
        }
        .dev-box {
            background-color: white;
        }
        select{
            margin-top: 20px;
            margin-left: 0px;
        }
        button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
        }
        #result {
            font-size: 16px;
        }
        label{
            margin: 5px;
        }